In [ ]:
import pandas as pd
import numpy as np

In [2]:
Match = pd.read_csv(r"C:\Users\U6080871\Downloads\Python Tutorial\OneDrive_1_7-7-2020\matches.csv")
Short_Name = pd.read_csv(r"C:\Users\U6080871\Downloads\Python Tutorial\OneDrive_1_7-7-2020\NameTranslation.csv")
Deliveries = pd.read_csv(r"C:\Users\U6080871\Downloads\Python Tutorial\OneDrive_1_7-7-2020\deliveries.csv")

## (1)	How many runs has Virat Kohli scored in the IPL history?

In [3]:
Deliveries[Deliveries['batsman'] == "V Kohli"].groupby(['batsman'])[['batsman_runs']].sum().reset_index()

   batsman  batsman_runs
0  V Kohli          5434

## (2) The above from how many matches?

In [4]:
Deliveries[Deliveries['batsman'] == "V Kohli"].groupby(['batsman']).agg({'match_id':'nunique','batsman_runs':'sum'}).reset_index()

   batsman  match_id  batsman_runs
0  V Kohli       169          5434

## (3)	How many wickets has Bumrah taken in the IPL history?

In [5]:
Deliveries.player_dismissed.fillna(0,inplace =True)
Deliveries[(Deliveries['bowler'] == "JJ Bumrah") & (Deliveries['player_dismissed'] != 0) & (Deliveries['dismissal_kind'] != "run out")].groupby(['bowler'])[['player_dismissed']].count().reset_index()

      bowler  player_dismissed
0  JJ Bumrah                82

## (4)	The above from how many matches?

In [6]:
Deliveries[Deliveries['bowler'] == "JJ Bumrah"].groupby(['bowler']).agg({'match_id':'nunique'}).reset_index()

      bowler  match_id
0  JJ Bumrah        77

## (5)	Against who did Bumrah claim the highest number of wickets?

In [7]:
max_wicket = Deliveries[(Deliveries['bowler'] == "JJ Bumrah") & (Deliveries['player_dismissed'] != 0) & (Deliveries['dismissal_kind'] != "run out")].groupby(['player_dismissed'])[['player_dismissed']].count().rename(columns = {'player_dismissed':'wickets'}).reset_index().sort_values('wickets', ascending = False)
max_wicket[max_wicket['wickets'] == max_wicket['wickets'].max()]

   player_dismissed  wickets
18       GJ Maxwell        4
39          RR Pant        4

## (6)	Which Bowler dismissed Kohli the most?

In [8]:
max_wicket = Deliveries[(Deliveries['player_dismissed'] == "V Kohli") & (Deliveries['dismissal_kind'] != "run out")].groupby(['bowler']).agg({'player_dismissed':'count'}).reset_index().sort_values('player_dismissed', ascending = False)

max_wicket[max_wicket['player_dismissed'] == max_wicket['player_dismissed'].max()]

    bowler  player_dismissed
2  A Nehra                 6

## (7)	How many times Kohli was clean bowled?

In [9]:
len(Deliveries[(Deliveries['batsman'] == "V Kohli") & ((Deliveries['dismissal_kind'] == "bowled"))])

30

## (8)	How many wickets did Bumrah take by clean bowling the batsmen?

In [10]:
len(Deliveries[(Deliveries['bowler'] == "JJ Bumrah") & (Deliveries['dismissal_kind'] == "bowled")])

18

## (9)	How many runs where scored in boundaries (boundaries – 4s & 6s separately) in the match between Rajasthan Royals & Royal Challengers Bangalore in the year 2019 – overall?

In [11]:
# Join  Match and deliveries table to get the season details
comb_Deliveries_Match = pd.merge(Deliveries, Match, left_on = "match_id", right_on= "id", how = "left")

In [12]:
# Filter the matches between Rajasthan Royals & Royal Challengers Bangalore in the year 2018
sample_data = comb_Deliveries_Match[(comb_Deliveries_Match['season'] == 2019) & (comb_Deliveries_Match['team1'] == "Royal Challengers Bangalore") &  (comb_Deliveries_Match['team2'] == "Rajasthan Royals")]

sample_data[(sample_data['batsman_runs'] == 4) | (sample_data['batsman_runs'] == 6)].groupby(['batsman_runs'])[['batsman_runs']].sum().rename(columns={'batsman_runs':'runs'}).reset_index()

   batsman_runs  runs
0             4   180
1             6    78

## (10)	 In the same match above, how many were scored by each team in boundaries?

In [13]:
sample_data[(sample_data['batsman_runs'] == 4) | (sample_data['batsman_runs'] == 6)].groupby(['batting_team'])[["batsman_runs"]].sum().reset_index()

                  batting_team  batsman_runs
0             Rajasthan Royals           126
1  Royal Challengers Bangalore           132

## (11)	 Who got run-out the most in the IPL history?

In [14]:
max_run_out = Deliveries[Deliveries['dismissal_kind'] == "run out"].groupby(['player_dismissed']).agg({'inning':'count'}).reset_index().sort_values('inning', ascending = False)

max_run_out[max_run_out['inning'] == max_run_out['inning'].max()]

   player_dismissed  inning
79        G Gambhir      16

## (12) Who has scored the maximum in the IPL history till now?

In [15]:

max_run = Deliveries.groupby(['batsman']).agg({'batsman_runs':'sum'}).reset_index().sort_values('batsman_runs', ascending = False)

max_run[max_run['batsman_runs'] == max_run['batsman_runs'].max()]

     batsman  batsman_runs
486  V Kohli          5434

## (13)	 Which is the ground that accommodated the most number of matches?

In [16]:
Max_match = Match.groupby(['venue'])[['id']].count().reset_index().rename(columns={'id':'count'}).sort_values('count', ascending = False)
Max_match[Max_match['count'] == Max_match['count'].max()]

          venue  count
8  Eden Gardens     77

## (14) Who umpired the most number of matches?

In [17]:
max_match = Match.groupby(['umpire1'])[['id']].count().reset_index().rename(columns={'id':'count'}).sort_values('count', ascending = False)
max_match[max_match['count'] == max_match['count'].max()]

            umpire1  count
22  HDPK Dharmasena     73

## (15)	 Which ground has seen the most number of matches won by the chasing team

In [18]:
Max_match = Match[Match['toss_decision'] == "field"].groupby(['venue'])[['winner']].count().reset_index()
Max_match[Max_match['winner'] == Max_match['winner'].max()]

                    venue  winner
16  M Chinnaswamy Stadium      62

## (16)	 Which team won the most while batting first?

In [19]:
max_win = Match[Match['toss_decision'] == "bat"].groupby(['winner'])[['id']].count().reset_index().rename(columns = {'id':'count'})
max_win[max_win['count'] == max_win['count'].max()]

                winner  count
0  Chennai Super Kings     52

## (17)	 Who are the players who have scored centuries in the IPL history?

In [20]:
Centuries = Deliveries.groupby(['match_id','batsman'])[['batsman_runs']].sum().reset_index().sort_values('batsman_runs', ascending = False)
Centuries[Centuries['batsman_runs'] >= 100]

       match_id         batsman  batsman_runs
6200        411        CH Gayle           175
900          60     BB McCullum           158
8426        562  AB de Villiers           133
10149      7935         RR Pant           130
9257        620  AB de Villiers           129
...         ...             ...           ...
10929     11326         V Kohli           100
2684        176       YK Pathan           100
6407        425        SK Raina           100
7584        505     LMP Simmons           100
7816        521     BB McCullum           100

[62 rows x 3 columns]

## (18)	 How many bowlers have taken 5 or more wickets in IPL history?

In [21]:
Wickets = Deliveries[(Deliveries['player_dismissed'] !=0) & (Deliveries['dismissal_kind'] !="run out")].groupby(['match_id','bowler'])[['player_dismissed']].count().reset_index().rename(columns = {'player_dismissed':'wickets'})
len(Wickets[Wickets['wickets'] >= 5])

20

## (19)	 Who has won the most number of man of the matches in the IPL history?

In [22]:
MOM = Match.groupby(['player_of_match'])[['id']].count().reset_index().sort_values('id', ascending = False).rename(columns = {'id':'count'})
(MOM[MOM['count'] == MOM['count'].max()])

   player_of_match  count
35        CH Gayle     21

## (20)	Which team won both the toss and the match in the IPL history?

In [23]:
Match[Match['toss_winner'] == Match['winner']].groupby(['toss_winner', 'winner'])[['id']].count().reset_index().sort_values('id', ascending = False).rename(columns = {'id':'count'})

                    toss_winner                       winner  count
0           Chennai Super Kings          Chennai Super Kings     57
8                Mumbai Indians               Mumbai Indians     56
7         Kolkata Knight Riders        Kolkata Knight Riders     53
10             Rajasthan Royals             Rajasthan Royals     42
13  Royal Challengers Bangalore  Royal Challengers Bangalore     41
3              Delhi Daredevils             Delhi Daredevils     35
5               Kings XI Punjab              Kings XI Punjab     35
14          Sunrisers Hyderabad          Sunrisers Hyderabad     23
1               Deccan Chargers              Deccan Chargers     19
4                 Gujarat Lions                Gujarat Lions     10
2                Delhi Capitals               Delhi Capitals      7
11       Rising Pune Supergiant       Rising Pune Supergiant      5
6          Kochi Tuskers Kerala         Kochi Tuskers Kerala      4
9                 Pune Warriors                Pune Warriors      3
12      Rising Pune Supergiants      Rising Pune Supergiants      3

# Merge

## (1)	In which year did Kohli score the most number of runs (merging using the match_id & id)

In [24]:
# Join  Match and deliveries table to get the season details
comb_Deliveries_Match = pd.merge(Deliveries, Match, left_on = "match_id", right_on= "id", how = "left")

In [25]:
max_run = comb_Deliveries_Match[comb_Deliveries_Match['batsman'] == "V Kohli"].groupby(['season']).agg({'batsman_runs':'sum'}).reset_index().sort_values('batsman_runs', ascending = False)

max_run[max_run['batsman_runs'] == max_run['batsman_runs'].max()]

   season  batsman_runs
8    2016           973

## (2)	Change the name of teams to short names?

In [26]:
# Join  Match and deliveries table to get the season details
Short_name_team = pd.merge(Match, Short_Name, left_on = "team1", right_on= "FullName", how = "left")

In [27]:
Short_name_team[['team1','ShortName']]

                           team1 ShortName
0            Sunrisers Hyderabad        SH
1                 Mumbai Indians        MI
2                  Gujarat Lions        GL
3         Rising Pune Supergiant       RPS
4    Royal Challengers Bangalore       RCB
..                           ...       ...
751        Kolkata Knight Riders       KKR
752          Chennai Super Kings       CSK
753          Sunrisers Hyderabad        SH
754               Delhi Capitals       DLC
755               Mumbai Indians        MI

[756 rows x 2 columns]

## (3)	In which ground did Andre Russell score the most number of runs?

In [28]:
max_run = comb_Deliveries_Match[comb_Deliveries_Match['batsman'] == "AD Russell"].groupby(['venue']).agg({'batsman_runs':'sum'}).reset_index().sort_values('batsman_runs', ascending = False)

max_run[max_run['batsman_runs'] == max_run['batsman_runs'].max()]

          venue  batsman_runs
2  Eden Gardens           719

## (4)	Favorite ground for Bumrah where he took the most number of wickets

In [29]:
max_wicket = comb_Deliveries_Match[(comb_Deliveries_Match['bowler'] == "JJ Bumrah") & (comb_Deliveries_Match['player_dismissed'] != 0) & (comb_Deliveries_Match['dismissal_kind'] != "run out")].groupby(['venue']).agg({'dismissal_kind':'count'}).reset_index().rename(columns = {'dismissal_kind':'wickets'})

max_wicket[max_wicket['wickets'] == max_wicket['wickets'].max()]

               venue  wickets
16  Wankhede Stadium       35

## (5)	What is the average runs scored by Rahul Dravid in the first year of IPL

In [30]:
avg_run = comb_Deliveries_Match[(comb_Deliveries_Match['batsman'] == "R Dravid") & (comb_Deliveries_Match['season'] == comb_Deliveries_Match['season'].min())].groupby(['season']).agg({'match_id':'nunique','batsman_runs':'sum'}).reset_index().sort_values('batsman_runs', ascending = True)

avg_run['batsman_runs'] = avg_run['batsman_runs']/(avg_run['match_id'])
avg_run

   season  match_id  batsman_runs
0    2008        14          26.5

## (6)	Which team has scored the maximum runs in boundaries (4s) in IPL 2018

In [31]:
# Calculate the boundaries scored
max_boundaries = comb_Deliveries_Match[(comb_Deliveries_Match['season'] == 2018) & ((comb_Deliveries_Match['batsman_runs'] == 4))].groupby(['batting_team', 'batsman_runs'])[['batsman_runs']].sum().rename(columns = {'batsman_runs':'Score'}).reset_index()
max_boundaries[max_boundaries['Score'] == max_boundaries['Score'].max()]

            batting_team  batsman_runs  Score
3  Kolkata Knight Riders             4   1028

## (7)	Which team has scored the maximum runs in boundaries (6s) in IPL 2019

In [32]:
# Calculate the boundaries scored
max_boundaries = comb_Deliveries_Match[(comb_Deliveries_Match['season'] == 2019) & ((comb_Deliveries_Match['batsman_runs'] == 6))].groupby(['batting_team', 'batsman_runs'])[['batsman_runs']].sum().rename(columns = {'batsman_runs':'Score'}).reset_index()
max_boundaries[max_boundaries['Score'] == max_boundaries['Score'].max()]

            batting_team  batsman_runs  Score
3  Kolkata Knight Riders             6    846

## (8)	Which team played out the most number of dot balls in the 2009 IPL

In [33]:
# Calculate the boundaries scored
max_boundaries = comb_Deliveries_Match[(comb_Deliveries_Match['season'] == 2009) & ((comb_Deliveries_Match['total_runs'] == 0))].groupby(['batting_team'])[['total_runs']].count().reset_index().rename(columns = {'total_runs':'Total_dots'})
max_boundaries[max_boundaries['Total_dots'] == max_boundaries['Total_dots'].max()]

                  batting_team  Total_dots
7  Royal Challengers Bangalore         763

## (9)	Compare the runs scored in the 1st 5 overs scored by each team in the year 2019 and order it in descending order

In [34]:
comb_Deliveries_Match[(comb_Deliveries_Match['season'] == 2019) & ((comb_Deliveries_Match['over'] <= 5))].groupby(['batting_team'])[['total_runs']].sum().reset_index().sort_values('total_runs', ascending = False)

                  batting_team  total_runs
7          Sunrisers Hyderabad         756
1               Delhi Capitals         706
4               Mumbai Indians         682
6  Royal Challengers Bangalore         627
5             Rajasthan Royals         606
3        Kolkata Knight Riders         600
2              Kings XI Punjab         575
0          Chennai Super Kings         548

## (10)	 Compare the wickets taken by each team in the 1st 5 overs in the year 2018 and order it in descending order

In [35]:
comb_Deliveries_Match[(comb_Deliveries_Match['season'] == 2018) & (comb_Deliveries_Match['over'] <= 5) & (Deliveries['player_dismissed'] != 0)].groupby(['bowling_team']).agg({'player_dismissed':'count'}).reset_index().rename(columns = {'player_dismissed':'wickets'}).sort_values('wickets', ascending = False)

                  bowling_team  wickets
0          Chennai Super Kings       26
2              Kings XI Punjab       21
5             Rajasthan Royals       21
7          Sunrisers Hyderabad       19
6  Royal Challengers Bangalore       18
4               Mumbai Indians       17
1             Delhi Daredevils       16
3        Kolkata Knight Riders        5